$primary-0: hsl(210, 86%, 17%);
$primary-1: hsl(210, 77%, 27%);
$primary-2: hsl(210, 72%, 37%);
$primary-3: hsl(210, 63%, 48%);
$primary-4: hsl(210, 78%, 60%);
$primary-5: hsl(210, 89%, 70%);
$primary-6: hsl(210, 90%, 76%);
$primary-7: hsl(210, 86%, 81%);
$primary-8: hsl(210, 90%, 88%);
$primary-9: hsl(210, 100%, 96%);

$grey-0: hsl(209, 61%, 16%);
$grey-1: hsl(211, 39%, 23%);
$grey-2: hsl(209, 34%, 30%);
$grey-3: hsl(209, 28%, 39%);
$grey-4: hsl(210, 22%, 49%);
$grey-5: hsl(209, 23%, 60%);
$grey-6: hsl(211, 27%, 70%);
$grey-7: hsl(210, 31%, 80%);
$grey-8: hsl(212, 33%, 89%);
$grey-9: hsl(210, 36%, 96%);
$white: #fff;

$red-dark: hsl(360, 67%, 44%);
$red-light: hsl(360, 71%, 66%);
$green-dark: hsl(125, 67%, 44%);
$green-light: hsl(125, 71%, 66%);
$black: #222;
